flows/SevereWeatherAlertMap.flow
[
    {
        "id": "b0d77440.c78c6",
        "type": "tab",
        "label": "TWC Severe Weather Alerts",
        "disabled": false,
        "info": ""
    },
    {
        "id": "109b9c07.9fe4f4",
        "type": "group",
        "z": "b0d77440.c78c6",
        "name": "Query Weather Alert Headlines API",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "2a7d90e4.a26148",
            "fb91c9d8.a8713",
            "40fee82c.d23e4",
            "579cff16.af1eb",
            "efd6f96c.0a7f9",
            "b2372db8.bec4d8",
            "406ea7e2.f8952",
            "b1a5581d.cd1058",
            "14c5476c.6db271",
            "f19305c5.f7ff28"
        ],
        "x": 34,
        "y": 399,
        "w": 850,
        "h": 242
    },
    {
        "id": "5cafe19.1a484a",
        "type": "group",
        "z": "b0d77440.c78c6",
        "name": "Build Table and Plot Map",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "54558d8.0d35274",
            "bd8d645f.6bb",
            "5cc7c184.1b7fb",
            "34816910.a940be",
            "e691defe.a135c8",
            "9cbe60b0.1b69b8",
            "34a27155.ebf186",
            "cffd83f8.ff2148",
            "3333e78d.ee5458",
            "6b482af9.f6ba94",
            "db8d9437.b854b",
            "aa048cab.15e788"
        ],
        "x": 34,
        "y": 679,
        "w": 992,
        "h": 242
    },
    {
        "id": "81bc078f.3bd658",
        "type": "group",
        "z": "b0d77440.c78c6",
        "name": "Select State and Filters",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "7fe65c39.69bb04",
            "845f7d2d.e677d8",
            "46d0011f.381d78",
            "e410e25a.b5f61",
            "edbe9935.e8dbd",
            "36ba3da4.9b5dc2",
            "2fd19364.418464",
            "654003d3.9c16b4",
            "7c02eacd.d7c1d4",
            "b8ba4382.57c7a8",
            "29fb9bf.1a3a4e4",
            "7c07364b.3e9ff8"
        ],
        "x": 34,
        "y": 99,
        "w": 862,
        "h": 262
    },
    {
        "id": "2a7d90e4.a26148",
        "type": "http request",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "Weather Alert Headlines",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.weather.com/v3/alerts/headlines?countryCode=US&format=json&language=en-US&apiKey={{apikey}}",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 440,
        "wires": [
            [
                "fb91c9d8.a8713",
                "b1a5581d.cd1058"
            ]
        ]
    },
    {
        "id": "fb91c9d8.a8713",
        "type": "debug",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 768,
        "y": 442,
        "wires": []
    },
    {
        "id": "40fee82c.d23e4",
        "type": "function",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "Next",
        "func": "var Severe = flow.get(\"SevereAlerts\");\n\nfor( i = 0 ; i < msg.payload.alerts.length ; i++ ) {\n    if( msg.payload.alerts[i].severityCode <= 2 ) {\n        Severe.push(msg.payload.alerts[i]) ;\n    }\n}\nflow.set(\"SevereAlerts\", Severe);\n\nif( msg.payload.metadata.next === null ) {\n    return [null, msg] ;\n} else {\n    // Get the next chunk of Alerts\n    msg.url = 'https://api.weather.com/v3/alerts/headlines?countryCode=US&format=json&language=en-US&apiKey='+msg.apikey;\n    msg.url = msg.url + \"&next=\" + msg.payload.metadata.next ;\n\n    return [msg, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "579cff16.af1eb"
            ],
            [
                "b2372db8.bec4d8"
            ]
        ]
    },
    {
        "id": "579cff16.af1eb",
        "type": "http request",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "Next Block of Alerts",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 540,
        "wires": [
            [
                "40fee82c.d23e4",
                "efd6f96c.0a7f9"
            ]
        ]
    },
    {
        "id": "efd6f96c.0a7f9",
        "type": "debug",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 768,
        "y": 542,
        "wires": []
    },
    {
        "id": "7fe65c39.69bb04",
        "type": "change",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "State Selected",
        "rules": [
            {
                "t": "set",
                "p": "admindistrictcode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AllStates",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "7c02eacd.d7c1d4"
            ]
        ]
    },
    {
        "id": "b2372db8.bec4d8",
        "type": "change",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "All Severe Alerts",
        "rules": [
            {
                "t": "set",
                "p": "AllAlertsLoaded",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 600,
        "wires": [
            [
                "db8d9437.b854b"
            ]
        ]
    },
    {
        "id": "406ea7e2.f8952",
        "type": "change",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "Initialize Alert query",
        "rules": [
            {
                "t": "set",
                "p": "apikey",
                "pt": "msg",
                "to": "twcapikey",
                "tot": "flow"
            },
            {
                "t": "delete",
                "p": "SevereAlerts",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "SevereAlerts",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "2a7d90e4.a26148"
            ]
        ]
    },
    {
        "id": "54558d8.0d35274",
        "type": "debug",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "name": "All Severe",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 490,
        "y": 720,
        "wires": []
    },
    {
        "id": "bd8d645f.6bb",
        "type": "function",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "name": "Plot on Map",
        "func": "msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.name = msg.payload.detailKey;\nmsg.payload.layer=\"AlertMap\";\n\n\nmsg.payload.icon = \"globe\";\nif( msg.payload.severityCode > 2 ) {\n    msg.payload.iconColor = \"red\";\n} else {\n    msg.payload.iconColor = \"orange\";\n}\n\nvar AllStates = flow.get(\"AllStates\");\nif( AllStates === true ) {\n    msg.payload.command = { zoom:4, \n                                \"lat\":msg.payload.lat,\n                                \"lon\":msg.payload.lon,\n                                autopan:false };    \n} else {\n    msg.payload.command = { zoom:6, \n                                \"lat\":msg.payload.lat,\n                                \"lon\":msg.payload.lon,\n                                autopan:true };\n}\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\ndelete msg.payload.type;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 760,
        "wires": [
            [
                "aa048cab.15e788"
            ]
        ]
    },
    {
        "id": "5cc7c184.1b7fb",
        "type": "split",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "name": "Split / Plot Alerts",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 500,
        "y": 760,
        "wires": [
            [
                "bd8d645f.6bb"
            ]
        ]
    },
    {
        "id": "b1a5581d.cd1058",
        "type": "switch",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "Valid API key?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Access Denied",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "f19305c5.f7ff28"
            ],
            [
                "40fee82c.d23e4"
            ]
        ],
        "info": "If your API key is invalid for this API call, the response will contain:\n\n<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don't have permission to access \"http&#58;&#47;&#47;api&#46;weather&#46;com&#47;v3&#47;alerts&#47;headlines&#63;\" on this server.<P>\nReference&#32;&#35;18&#46;4d3c2b17&#46;1573048691&#46;85dab1a\n</BODY>\n</HTML>"
    },
    {
        "id": "14c5476c.6db271",
        "type": "debug",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 768,
        "y": 502,
        "wires": []
    },
    {
        "id": "f19305c5.f7ff28",
        "type": "change",
        "z": "b0d77440.c78c6",
        "g": "109b9c07.9fe4f4",
        "name": "Error API Key access denied",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Access Denied - Your API key does not have permission to access this API",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 500,
        "wires": [
            [
                "14c5476c.6db271"
            ]
        ]
    },
    {
        "id": "845f7d2d.e677d8",
        "type": "link out",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "US All Alerts",
        "links": [
            "34816910.a940be"
        ],
        "x": 855,
        "y": 280,
        "wires": []
    },
    {
        "id": "34816910.a940be",
        "type": "link in",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "name": "Plot All US Alerts",
        "links": [
            "845f7d2d.e677d8"
        ],
        "x": 75,
        "y": 720,
        "wires": [
            [
                "db8d9437.b854b"
            ]
        ]
    },
    {
        "id": "46d0011f.381d78",
        "type": "ui_dropdown",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "",
        "label": "Select State:",
        "tooltip": "",
        "place": "State",
        "group": "7dc3676a.bf9a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "36ba3da4.9b5dc2",
                "2fd19364.418464"
            ]
        ]
    },
    {
        "id": "e410e25a.b5f61",
        "type": "debug",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "options",
        "targetType": "msg",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "edbe9935.e8dbd",
        "type": "inject",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "",
        "props": [
            {
                "p": "options",
                "v": "[{\"Alaska\":\"AK\"},{\"Alabama\":\"AL\"},{\"Arkansas\":\"AR\"},{\"American Samoa\":\"AS\"},{\"Arizona\":\"AZ\"},{\"California\":\"CA\"},{\"Colorado\":\"CO\"},{\"Connecticut\":\"CT\"},{\"District of Columbia\":\"DC\"},{\"Delaware\":\"DE\"},{\"Florida\":\"FL\"},{\"Georgia\":\"GA\"},{\"Guam\":\"GU\"},{\"Hawaii\":\"HI\"},{\"Iowa\":\"IA\"},{\"Idaho\":\"ID\"},{\"Illinois\":\"IL\"},{\"Indiana\":\"IN\"},{\"Kansas\":\"KS\"},{\"Kentucky\":\"KY\"},{\"Louisiana\":\"LA\"},{\"Massachusetts\":\"MA\"},{\"Maryland\":\"MD\"},{\"Maine\":\"ME\"},{\"Michigan\":\"MI\"},{\"Minnesota\":\"MN\"},{\"Missouri\":\"MO\"},{\"Mississippi\":\"MS\"},{\"Montana\":\"MT\"},{\"North Carolina\":\"NC\"},{\"North Dakota\":\"ND\"},{\"Nebraska\":\"NE\"},{\"New Hampshire\":\"NH\"},{\"New Jersey\":\"NJ\"},{\"New Mexico\":\"NM\"},{\"Nevada\":\"NV\"},{\"New York\":\"NY\"},{\"Ohio\":\"OH\"},{\"Oklahoma\":\"OK\"},{\"Oregon\":\"OR\"},{\"Pennsylvania\":\"PA\"},{\"Puerto Rico\":\"PR\"},{\"Rhode Island\":\"RI\"},{\"South Carolina\":\"SC\"},{\"South Dakota\":\"SD\"},{\"Tennessee\":\"TN\"},{\"Texas\":\"TX\"},{\"Utah\":\"UT\"},{\"Virginia\":\"VA\"},{\"Virgin Islands\":\"VI\"},{\"Vermont\":\"VT\"},{\"Washington\":\"WA\"},{\"Wisconsin\":\"WI\"},{\"West Virginia\":\"WV\"},{\"Wyoming\":\"WY\"}]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "46d0011f.381d78",
                "e410e25a.b5f61"
            ]
        ]
    },
    {
        "id": "36ba3da4.9b5dc2",
        "type": "debug",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "2fd19364.418464",
        "type": "switch",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "Which State Selected?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "7fe65c39.69bb04"
            ]
        ]
    },
    {
        "id": "e691defe.a135c8",
        "type": "ui_table",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "group": "7dc3676a.bf9a2",
        "name": "",
        "order": 3,
        "width": "10",
        "height": "13",
        "columns": [
            {
                "field": "severityCode",
                "title": "Severity",
                "width": "5%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "location",
                "title": "Location",
                "width": "30%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "headline",
                "title": "Headline",
                "width": "65%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 470,
        "y": 840,
        "wires": [
            [
                "cffd83f8.ff2148",
                "3333e78d.ee5458",
                "6b482af9.f6ba94"
            ]
        ]
    },
    {
        "id": "9cbe60b0.1b69b8",
        "type": "function",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "name": "Build Table",
        "func": "var TableArray = [];\nfor( i=0; i < msg.payload.length; i++ ) {\n      var TableEntry = {};\n      TableEntry.severityCode = msg.payload[i].severityCode ;\n      TableEntry.location = msg.payload[i].areaName ;\n      TableEntry.headline = msg.payload[i].headlineText ;\n      TableEntry.latitude = msg.payload[i].latitude ;\n      TableEntry.longitude = msg.payload[i].longitude ;\n      // node.warn( TableEntry ) ;\n      TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 820,
        "wires": [
            [
                "34a27155.ebf186",
                "e691defe.a135c8"
            ]
        ]
    },
    {
        "id": "34a27155.ebf186",
        "type": "debug",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 800,
        "wires": []
    },
    {
        "id": "cffd83f8.ff2148",
        "type": "debug",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "name": "onClick",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 840,
        "wires": []
    },
    {
        "id": "3333e78d.ee5458",
        "type": "change",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "name": "Zoom Map on Click",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "tmp",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "{\"zoom\":10,\"autopan\":true}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.command.lat",
                "pt": "msg",
                "to": "tmp.latitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.command.lon",
                "pt": "msg",
                "to": "tmp.longitude",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "tmp",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 880,
        "wires": [
            [
                "aa048cab.15e788"
            ]
        ],
        "info": "Essentially create this:\n\nmsg.payload.command = { zoom:6, \n                        \"lat\":msg.payload.latitude,\n                        \"lon\":msg.payload.longitude\n                        autopan:true };"
    },
    {
        "id": "654003d3.9c16b4",
        "type": "ui_button",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "",
        "group": "7dc3676a.bf9a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Show all US Severe Weather Alerts",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "29fb9bf.1a3a4e4"
            ]
        ]
    },
    {
        "id": "6b482af9.f6ba94",
        "type": "ui_text",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "group": "63f14cc0.8e50ac",
        "order": 1,
        "width": "22",
        "height": "1",
        "name": "Headline",
        "label": "",
        "format": "{{msg.payload.headline}}",
        "layout": "row-left",
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "e8ddf05c.366b8",
        "type": "change",
        "z": "b0d77440.c78c6",
        "name": "Set TWC API Key here",
        "rules": [
            {
                "t": "set",
                "p": "twcapikey",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ace3d79f.02cd58",
        "type": "inject",
        "z": "b0d77440.c78c6",
        "name": "Init TWC API Key",
        "props": [
            {
                "p": "payload",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "e8ddf05c.366b8"
            ]
        ]
    },
    {
        "id": "7c02eacd.d7c1d4",
        "type": "switch",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "",
        "property": "AllAlertsLoaded",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 280,
        "wires": [
            [
                "845f7d2d.e677d8"
            ],
            [
                "406ea7e2.f8952"
            ]
        ]
    },
    {
        "id": "db8d9437.b854b",
        "type": "function",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "name": "Filter Selected State",
        "func": "var Severe = flow.get(\"SevereAlerts\");\nvar SelectedState = flow.get(\"admindistrictcode\")\nvar SevereStateAlerts = [];\nvar severityCode=flow.get(\"severityCode\") ||2;\nvar AllStates = flow.get(\"AllStates\");\n\nfor( i = 0 ; i < Severe.length ; i++ ) {\n    if( Severe[i].adminDistrictCode == SelectedState || AllStates ) {\n        if( Severe[i].severityCode == severityCode ) {\n            SevereStateAlerts.push(Severe[i]) ;\n        }\n    }\n}\nmsg.payload = SevereStateAlerts;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 720,
        "wires": [
            [
                "9cbe60b0.1b69b8",
                "54558d8.0d35274",
                "5cc7c184.1b7fb"
            ]
        ]
    },
    {
        "id": "b8ba4382.57c7a8",
        "type": "ui_dropdown",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "",
        "label": "Severity Filter:",
        "tooltip": "",
        "place": "Minor",
        "group": "7dc3676a.bf9a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Unknown",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Minor",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Moderate",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Severe",
                "value": 4,
                "type": "num"
            },
            {
                "label": "Extreme",
                "value": 5,
                "type": "num"
            },
            {
                "label": "ALL",
                "value": 0,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "7c07364b.3e9ff8"
            ]
        ]
    },
    {
        "id": "29fb9bf.1a3a4e4",
        "type": "change",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "AllStates",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "7c02eacd.d7c1d4"
            ]
        ]
    },
    {
        "id": "aa048cab.15e788",
        "type": "ui_worldmap",
        "z": "b0d77440.c78c6",
        "g": "5cafe19.1a484a",
        "group": "63f14cc0.8e50ac",
        "order": 2,
        "width": "22",
        "height": "15",
        "name": "",
        "lat": "39.186690",
        "lon": "-96.566600",
        "zoom": "4",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "path": "/alertmap",
        "x": 940,
        "y": 760,
        "wires": []
    },
    {
        "id": "7c07364b.3e9ff8",
        "type": "change",
        "z": "b0d77440.c78c6",
        "g": "81bc078f.3bd658",
        "name": "Save Severity",
        "rules": [
            {
                "t": "set",
                "p": "severityCode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"clear\":\"AlertMap\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "7c02eacd.d7c1d4",
                "aa048cab.15e788"
            ]
        ]
    },
    {
        "id": "7dc3676a.bf9a2",
        "type": "ui_group",
        "z": "",
        "name": "Get Alerts",
        "tab": "9442c142.ca786",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "63f14cc0.8e50ac",
        "type": "ui_group",
        "z": "",
        "name": "Alert Map",
        "tab": "9442c142.ca786",
        "order": 2,
        "disp": true,
        "width": "25",
        "collapse": false
    },
    {
        "id": "9442c142.ca786",
        "type": "ui_tab",
        "z": "",
        "name": "JW Severe Weather Alerts",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
